{% extends 'base.html' %}

{% block content %}

<h1>Signup</h1>
<form method="post">
    <table>
        <tr>
            <td>
                <input name="username" type="text" value="{{ username }}" required placeholder="Username">
                <span class="error">{{ errors.username_error }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <input name="password" type="password" required placeholder="Password">
                <span class="error">{{ errors.password_error }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <input name="verify" type="password" required placeholder="Verify Password">
                <span class="error">{{ errors.verify_error }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <input name="email" type="email" value="{{ email }}" placeholder="Email (optional)">
                <span class="error">{{ errors.email_error }}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Signup">
</form>

{% endblock %}
